.App {
  background-image: linear-gradient(#fe667d, #ffa375);
  background-size: cover;
  height: 100vh;
 
 
}
.bg-app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 5rem; */
  padding-top: 2rem;
}
.header{
  color: aqua;
  margin: 2rem;
  font-style: italic;
  text-decoration: underline;
}
input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
  border-radius: 10px;
  border-width: 0;
}
button {
  border: none;
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #4dc24d;
  color: beige;
}
button:hover {
  background-color: #2bb42b;
  color: yellowgreen;
}
.message {
  font-size: 1.2em;
  text-align: center;
  color: blue;
}